.mt-5.meme-container
	.row.title-container
		.col-lg-11
			= meme.title
			-# TODO favourite button
	.row.desc-container
		.col-lg-12
			= meme.created_at
			= meme.user.username
	= link_to meme_path(meme) do
		= image_tag meme.meme_img.variant(resize_to_fit: [500, nil])