%h3 Zmiana danych
= simple_form_for current_user do |f|
	= f.input :username, label: "Nazwa użytkownika"
	= f.file_field :avatar
	= f.submit "Zapisz"

.mt-4
	%h3 Zmiana hasła
	= simple_form_for current_user do |f|
		= f.input :password, label: "Hasło"
		= f.input :password_confirmation, label: "Potwierdź hasło"
		= f.submit "Zapisz hasło"