!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Memehub
		= csrf_meta_tags
		= csp_meta_tag
		= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
		%script(src="https://kit.fontawesome.com/12dccac90f.js" crossorigin="anonymous")
	%body

		%nav.navbar.navbar-expand-lg.navbar-light.bg-dark
			%a.navbar-brand{href: "/"}
				= image_tag "logo.png"

			.collapse.navbar-collapse
				%ul.navbar-nav.mr-auto
					%li.nav-item.active.mx-3
						= link_to("Najnowsze", root_path)
					%li.nav-item.mx-3
						= link_to("Losowe", random_meme_path)
					%li.nav-item.mx-3
						= link_to("Top", top_memes_path)
					%li.nav-item.mx-3
						= link_to("Dodaj", new_meme_path)

		%p.notice= notice
		%p.alert= alert
		
		.container
			.row
				.col-lg-6.offset-lg-2
					= yield
				.col-lg-4
					- if !user_signed_in?
						#sign-up-container
							= "Masz już konto?"
							%a{href: "", id: "sign-in-btn"} Zaloguj się
							= simple_form_for(@user, as: :user, method: :post, url: "/users") do |f|
								= f.input :username, label: "Nazwa użytkownika"
								= f.input :email
								= f.input :password, label: "Hasło"
								= f.input :password_confirmation, label: "Potwierdź hasło"
								= f.submit "Utwórz konto"
						#sign-in-container.d-none
							= "Nie masz konta?"
							%a{href: "", id: "sign-up-btn"} Zarejestruj się
							= simple_form_for(@user, as: :user, url: session_path(:user), namespace: "sign-in") do |f|
								= f.input :email
								= f.input :password, label: "Hasło"
								= f.submit "Zaloguj się"

					- else
						.user-panel
							.container
								.row
									.col-lg-4
										- if current_user.avatar.attached?
											= image_tag current_user.avatar.variant(resize_to_fill: [90, 90])
									.col-lg-8
										.row
											.col-lg-7
												= current_user.username
											.col-lg-5
												= link_to destroy_user_session_path, method: :delete do
													%i{class: "fas fa-power-off"}
										.row
											.col-lg-12
												%i{class: "far fa-image"}
												= current_user.memes.count
										.row
											.col-lg-12
												%i{class: "fas fa-comment"}
												= current_user.comments.count
										.row
											.col-lg-12
												%i{class: "fas fa-flag"}
												= current_user.created_at

								.row
									.col-lg-4
										= link_to "Mój profil", user_path(current_user.id)
									.col-lg-4
										= link_to "Ustawienia", edit_user_path(current_user.id)
									.col-lg-4
										= link_to "Ulubione", favourites_path

